.body{
    height:auto;
} 
.bulldog{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
}

.container{
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top:0px;
    width:600px;
    background: transparent;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #ffffff;
    font-size:48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #ffffff;
    border-radius: 9px;
}

.inputs{
    margin-top:55px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:25px;
}
.error{
    color: white;
}

.input{
    display: flex;
    align-items:center;
    margin: auto;
    width:550px;
    height:70px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin:0px 30px;

}

.input input{
    height : 50px;
    width: 400px;
    background:transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.submitcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding-bottom: 20px;
}

.signup, .forgotpassword{
    color:#797979;
    font-size:18px;
    font-weight: 470;
}

.signup span, .forgotpassword span{
    color:#ffffff;
    cursor: pointer;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width:220px;
    height: 59px;
    color:#fff;
    background: #e2202a;
    border-radius: 50px;
    font-size:20px;
    font-weight: 700;
    cursor:pointer;
}

.loginsubmit{
    display: flex;
    justify-content: center;
    padding: 25px;
}