.container {
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
    border: solid 3px;
    border-color: rgb(248, 78, 78);
    background-color: rgb(248, 78, 78);
    border-radius: 30px;
    padding: 0px;
}


.post {
    
    margin: 0 auto;
    width: auto;
    background: #eaeaea;
    
    /*border-radius: 50px;*/
}

.postHeader {
    height: 30px;
    background-color: grey;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: 6px solid grey;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    font-size:25px;
}

.postBody {
    
    background-color: rgb(0, 0, 0);
    height: 80%;
    padding: 15px;
    color: white;
    word-wrap: break-word; /* Ensure long words break correctly */
    overflow-wrap: break-word; /* Additional word-breaking support */
    height: auto;
    font-size: 24px;

}
.spacer {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 255, 255, 0.175);
}

.postFooter {
    display: flex;
    padding: 10px 50px 10px 15px;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    border: 6px solid rgb(0, 0, 0);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.userIcon {
    height: 36px;
    width: 36px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border: solid 2px black;
}

.userIcon:hover {
    border-color: rgb(255, 255, 255);
    background-color: blueviolet;
}

.replyButton {
    background-color: rgb(207, 74, 74);
    padding: 0px 20px 0px 20px;
    text-align: center;
    border-radius: 30px;
    border: solid 2px black;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.replyButton:hover {
    background-color: rgb(149, 0, 0);
    border-color: rgb(255, 255, 255);
}
.iconContainer{
    position: relative;

}

.iconContainer:hover .editMenu{
    display: flex;
    background-color: transparent;
    border-color: transparent;
}

.editButton:hover{
    background: rgb(149, 0, 0);
}

.editMenu{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    left:-28px;
    top:-40px;
    background: white;
    border:solid 1px grey;
    border-radius: 5px;
    padding:5px;
    z-index:1;
}

.userIcon:hover .editMenu{
    display: block;
}

.editButton {
    display: block;
    background-color: rgb(207, 74, 74);
    color: white;
    border: none;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.editButton:hover {
    background-color: rgb(149, 0, 0);
}