.body{
    height: auto;
}
.userInfo{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   background: transparent;
  /*  border-bottom-left-radius: 10;
   border-bottom-right-radius: 10; */
   color: rgb(255, 255, 255);
}

.myIcon{
    height: 90px;
    width: 90px;
    background-color: rgb(248, 78, 78);
    border-radius: 50%;
    display: inline-block;
    justify-items:center;
    text-align: center;
    font-size: 35px;
    line-height: 90px;
    border: solid 2px black;
    align-items: flex-start;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.title{
    color: white;
    font-size: 30px;
}
.container{
    width:100%;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    background: transparent;
    color: rgb(255, 255, 255);
    

}