.input{
    display: flex;
    align-items: center;
    margin: 10px auto;
    width:550px;
    height:50px;
    background: #eaeaea;
    border-radius: 25px;

}

.input input{
    height : 50px;
    width: 460px;
    background:transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
    margin: 5px;
}

.iconMenuContainer{
    display: inline-block;
    cursor: pointer;
}

.iconMenuContainer > div {
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 4px 8px;
}

.fixedSearch{
    top: 10px;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    
    z-index: 1;
}
.scrollContainer {
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top: 70px;
    overflow-y: auto;
    height: calc(100vh - 70px); 
    padding-bottom: 60px; 
}



.spacer {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 255, 255, 0.175);
}

.container {
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
    border: solid 3px;
    border-color: rgb(248, 78, 78);
    background-color: rgb(248, 78, 78);
    border-radius: 30px;
    height: 280px;
    padding: 0px;
}

.post {
    
    align-self: center;
    margin: 0 auto;
    width: auto;
    height: 180px;
    background: #eaeaea;
    

}

.postHeader {
    height: 20px;
    background-color: grey;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: 6px solid grey;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.postBody {
    
    background-color: rgb(0, 0, 0);
    height: 80%;
    padding: 15px;
    color: white;

}

.postFooter {
    display: flex;
    padding: 10px 50px 10px 15px;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    border: 6px solid rgb(0, 0, 0);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.userIcon {
    height: 36px;
    width: 36px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border: solid 2px black;
}

.userIcon:hover {
    border-color: white;
}

.replyButton {
    background-color: rgb(207, 74, 74);
    padding: 0px 20px 0px 20px;
    text-align: center;
    border-radius: 30px;
    border: solid 2px black;
    cursor: pointer;
    color: white;
}

.replyButton:hover {
    background-color: rgb(149, 0, 0);
    border-color: white;
}

.toolContainer {

   align-items: center;
   justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.myIcon {
    
    height: 75px;
    width: 75px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    justify-items:center;
    text-align: center;
    line-height: 75px;
    cursor: pointer;
    border: solid 2px black;
    align-items: flex-start;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    color:white;
}

.myIcon:hover {
    border-color: white;
}

.gearIcon {
    border: solid 2px purple;
    padding: 2px;
    background-color: #b673f9;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}
.gearContainer {
    position: relative;
    display: inline-block;
}
.gearContainer:hover .logoutMenu {
    display: block; 
}
.logoutButton:hover {
    background-color: darkred;
}
.logoutMenu {
    display: none;
    position: absolute;
    top: -30px; 
    right: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.gearIcon:hover {
    border-color: white;
}

.makePostButton {
    
    position: fixed; /* Stays at the bottom of the screen */
    bottom: 20px; /* Distance from the bottom of the screen */
    left: 50%; /* Starts at the center of the screen */
    transform: translateX(-50%); /* Shifts it to be truly centered */
    background-color: #E4002B;
    padding: 10px 40px;
    border-radius: 30px;
    border: solid 2px black;
    cursor: pointer;
    color: white;
    font-size: large;
}

.makePostButton:hover {
    background-color: rgb(149, 0, 0);
    border-color: white;
}
.modalBackdrop {
    position: fixed;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    border-radius: 10px;
    padding: 20px;
    width: 70%; /* Adjust modal width */
    height:95%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.closeButton:hover {
    background-color: darkred;
}
.bulldog {
    display: flex;
    justify-content: center; /* Center the bulldog image */
    margin-top: 100px; /* Add some space above the image */
    margin-bottom: 20px;
     /* Add some space below the image */
}
.bulldog img {
    width: 300px; /* Increase width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure it doesn't overflow */
}

.header {
    text-align: center; /* Center the header text */
    margin-bottom: 20px; /* Add space below the header */
}

.text {
    font-size: 24px; /* Adjust font size for the logo */
    font-weight: bold; /* Make the text bold */
}

.underline {
    width: 100px; /* Adjust width as needed */
    height: 4px; /* Adjust height as needed */
    background-color: black; /* Change color as needed */
    margin: 10px auto; /* Center the underline */
}
